@model WebApplication1.Data.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameFull)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameFull)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ogrn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ogrn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>