@model IEnumerable<WebApplication1.Data.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameFull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameShort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ogrn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangeDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameFull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ogrn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script>
        $(document).ready(function() {
        $('.table').DataTable();
    })
    </script>
}